<h1>User#welcome_email</h1>

<p>
  <%= @greeting %>, find me in app/views/user_mailer/welcome_email.html.erb
</p>

<h1> Bienvenido a nuestra grandiosa app!!</h1>
<div>
    <p> <%=@gretting%> <%=@user.name %> </p>
    <br>
    Ahora haces parte de nuestra familia.
</div>